
<div class="page-header">
    <h1>
        Elemar Rodrigues Severo Junior</h1>
</div>
<p>
    Software architect, "crazy" coder, father, "not so good" chess player.. and a lot
    of things like that.
</p>
<p>
    Started to code at 9 using Basic, Pascal, C and Assembly. MSX owner and fan!
</p>
<p>
    Computer graphics and low-level programming specialist.</p>
<p>
    Currently, works as R&amp;D engineer at Promob Software Solutions and Microsoft
    C# MVP.</p>
<a href="http://github.com/elemarjr" target="_blank">GitHub</a> | <a href="mailto:elemarjr@gmail.com">
    E-mail</a> | <a href="http://www.twitter.com/elemarjr" target="_blank">Twitter</a>
| <a href="http://www.facebook.com/elemarjr" target="_blank">Facebook</a> | <a href="http://www.elemarjr.net"
    target="_blank">Blog</a>
<br />

<div class="page-header">
    <h1>    Márcio Fábio Althmann</h1>
    
</div>
    <p>
        I work as a developer and a system architect of the technology department at Benner Sistemas.
    </p>
    <p>
        I program since I was 14 years old and try to maintain a blog. I also was a co-author of a book
        about .NET and I'm crazy about music, books and games. 
    </p>
    <p>
        When my addictions to games and programming allow I wish to write a new book.
    </p>
    <a href="http://github.com/marcioalthmann" target="_blank">GitHub</a> | <a href="mailto:marcio@marcioalthmann.net">
    E-mail</a> | <a href="http://www.twitter.com/marcioalthmann" target="_blank">Twitter</a>
| <a href="http://www.facebook.com/marcioalthmann" target="_blank">Facebook</a>
| <a href="http://www.marcioalthmann.net" target="_blank">Blog</a> 


@section JavaScript
{
    <script language="javascript">

        $(function () {
            $("#menuAboutUs").addClass("active");
        });

    </script>
}
