<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FluentIL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #FFFFFF;
            background-image: url("/Content/images/01010101.jpg");
            background-position: 0 40px;
            background-repeat: repeat-x;
            padding-top: 90px;
            position: relative;
        }
    </style>
    <title>FluentIL.org</title>
    <link href="/Content/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="#">FluentIL</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/Samples/Index">Samples</a></li>
                        <li><a href="/Downloads/Index">Downloads</a></li>
                        <li class="active"><a href="/AboutUs/Index">About us</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="page-header">
            <h1>
                Elemar Rodrigues Severo Junior</h1>
        </div>
        <p>
            Software architect, "crazy" coder, father, "not so good" chess player.. and a lot
            of things like that.
        </p>
        <p>
            Started to code at 9 using Basic, Pascal, C and Assembly. MSX owner and fan!
        </p>
        <p>
            Computer graphics and low-level programming specialist.</p>
        <p>
            Currently, works as R&amp;D engineer at Promob Software Solutions and Microsoft
            C# MVP.</p>
        <a href="http://github.com/elemarjr" target="_blank">GitHub</a> | <a href="mailto:elemarjr@gmail.com">
            E-mail</a> | <a href="http://www.twitter.com/elemarjr" target="_blank">Twitter</a>
        | <a href="http://www.facebook.com/elemarjr" target="_blank">Facebook</a> | <a href="http://www.elemarjr.net"
            target="_blank">Blog</a>
        <br />
        <div class="page-header">
            <h1>
                Márcio Fábio Althmann</h1>
        </div>
        <a href="http://github.com/marcioalthmann" target="_blank">GitHub</a> | <a href="mailto:marcio@marcioalthmann.net">
            E-mail</a> | <a href="http://www.twitter.com/marcioalthmann" target="_blank">Twitter</a>
        | <a href="http://www.facebook.com/marcioalthmann" target="_blank">Facebook</a>
        | <a href="http://www.marcioalthmann.net" target="_blank">Blog</a>
        <hr>
        <footer>
            <p>FluentIL development team</p>
      </footer>
    </div>
    <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
