<div class="page-header">
    <h1>
        Download and Install <small>easy installation with nuget.org package</small>
    </h1>
</div>
<h3>
    FluentIL</h3>
<pre class="prettyprint linenums">PM> Install-Package FluentIL</pre>
<h3>
    FluentIL.Cecil</h3>
<pre class="prettyprint linenums">PM> Install-Package FluentIL.Cecil</pre>
@section JavaScript
{
    <script language="javascript">

        $(function () {
            window.prettyPrint && prettyPrint();

            $("#menuDownloads").addClass("active");
        });

    </script>
}
