<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FluentIL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #FFFFFF;
            background-image: url("/Content/images/01010101.jpg");
            background-position: 0 40px;
            background-repeat: repeat-x;
            padding-top: 90px;
            position: relative;
        }
    </style>
    <title>FluentIL.org</title>
    <link href="/Content/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="#">FluentIL</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/Samples/Index">Samples</a></li>
                        <li><a href="/Downloads/Index">Downloads</a></li>
                        <li><a href="/AboutUs/Index">About us</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h1>
                FluentIL</h1>
            <p>
                FluentIL is a open-source .NET library written by <a href="AboutUs/Index">Elemar Junior and Márcio Althmann</a>
                that makes easier understand, write and mantain IL code.
            </p>
            
            <p>
                <a href="https://github.com/elemarjr/fluentil" class="btn btn-primary btn-large">GitHub
                    repository &raquo;</a>
                <a href="Samples/Index" class="btn btn-large">Samples &raquo;</a>
            </p>
        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="span4">
                <h2>
                    Full-documented development history</h2>
                <p>
                    There are a lot of blog posts explaining FluentIL development process. (portuguese
                    only)
                </p>
                <p>
                    <a href="http://elemarjr.net/tag/FluentIL/" class="btn">View posts &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>
                    Avaliable on NuGet</h2>
                <p>
                    All binaries are avaliable as NuGet packages. You can easily import and use FluentIL
                    on your projects.
                </p>
                <p>
                    <a href="http://nuget.org/packages?q=FluentIL" class="btn">FluentIL on NuGet &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>
                    Works fine with Mono.Cecil</h2>
                <p>
                    FluentIL works fine on basic .NET emitting libraries AND with Mono.Cecil.</p>
                <p>
                    <a class="btn" href="http://elemarjr.net/tag/Cecil/">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
        <footer>
            <p>FluentIL development team</p>
      </footer>
    </div>
    <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>
    

</body>
</html>
