
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h1>
                FluentIL</h1>
            <p>
                FluentIL is a open-source .NET library written by <a href="@Url.Action("Index", "AboutUs")">Elemar Junior and Márcio Althmann</a>
                that makes easier understand, write and mantain IL code.
            </p>
            
            <p>
                <a href="https://github.com/elemarjr/fluentil" class="btn btn-primary btn-large">GitHub
                    repository &raquo;</a>
                <a href="@Url.Action("Index", "Samples")" class="btn btn-large">Samples &raquo;</a>
            </p>
        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="span4">
                <h2>
                    Full-documented development history</h2>
                <p>
                    There are a lot of blog posts explaining FluentIL development process. (portuguese
                    only)
                </p>
                <p>
                    <a href="http://elemarjr.net/tag/FluentIL/" class="btn">View posts &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>
                    Avaliable on NuGet</h2>
                <p>
                    All binaries are avaliable as NuGet packages. You can easily import and use FluentIL
                    on your projects.
                </p>
                <p>
                    <a href="http://nuget.org/packages?q=FluentIL" class="btn">FluentIL on NuGet &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>
                    Works fine with Mono.Cecil</h2>
                <p>
                    FluentIL works fine on basic .NET emitting libraries AND with Mono.Cecil.</p>
                <p>
                    <a class="btn" href="http://elemarjr.net/tag/Cecil/">View details &raquo;</a></p>
            </div>
        </div>
@section JavaScript
{
    <script language="javascript">

        $(function () {
            window.prettyPrint && prettyPrint();

            $("#menuHome").addClass("active");
        });

    </script>
}